/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f57f6c;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  position: relative;
  background-color: white;
  width: 320px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: left;
  z-index: 2;
}

.card::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.3);
  border-radius: 8px;
  z-index: -1;
}

.card h2 {
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.card hr {
  border: 2px solid #f57f6c;
  margin: 10px 0;
}

.card p {
  font-size: 14px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 20px;
}

button {
  background-color: #f57f6c;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #e86b59;
}
